body {
    background-color: burlywood;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

h2, h3, h6 {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

div {
    text-align: inherit;
  
}

p{
    text-align: justify;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

li {
    font-weight: bold;
}

#gold {
    text-align: center;
}

ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

dl {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}

#quadra {
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;
    }

#negrito {
    font-weight: bold;
}